<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation de la souscription!</title>
</head>
<body>
<div class="container">
    <p>Bienvenue, {{ user.email }}</p>
    <p>Vous finir la souscription, merci de cliquer sur <a href="{{ app.request.schemeAndHttpHost }}{{ path('email_confirmation', {'code' : user.confirmationCode}) }}">ce lien</a></p>
</div>
</body>
</html>